<!doctype html>

{% if success %}
<div class='success'>
	Your account has been successfully created!
</div>
{% endif%}

{% if error %}
<div class='error'>
	Oops, {{ error }}.  Please create an account with a different email address.
</div>
{% endif %}

To create an account, please specify your email address and create a username and password.
<br />
<br />
<em><form action="/register" method="POST">
	<dl>
		<dt>Email Address:
			<dd><input type="text" name="email">
			<br />
			<br />
		<dt>Username:
			<dd><input type="text" name="username">
			<br />
			<br />
		<dt>Password:
			<dd><input type="text" name="password">
			<br />
			<br />
			<dd><input type="submit" name="Create" value="Create Account">
	</dl>
</form></em>

