

{% extends "templates/layout.html" %}

{% block body %}



<div id = "div">
</div>



	


<!--
<script type = "text/javascript">
for(var i = 0; i<gifdata.length; i++)
{
document.write("<strong>Gif name: </strong>" + gifdata[i] + "<br />") // For testing purposes
document.write("<img src =static/uploads/a822fc2fb065/" + gifdata[i] + " width = 250; height = 250;><br /><br />")
}
</script>
-->




		 <script type ="text/javascript">
		 
		 
		 	for (var i=0; i < gifdata.length; i++){
		 
			
		 	var element = document.getElementById("div");
		 	
		 	var description = document.createElement("p");
		 	
		 	var imagelink = document.createElement("a");
		 	imagelink.href = '/display/'+uploadid[i];
		 	var imageholder = document.createElement("img");
		 	imageholder.setAttribute('src', 'static/uploads/'+gifdata[i]);
		 //	imageholder.setAttribute('width', 250);
		 //	imageholder.setAttribute('height', 250);
		 	imageholder.setAttribute('class', "imageholder");
		 	imageholder.setAttribute('id', "TheGif"+i+"");
		 	element.appendChild(imagelink);
		 	imagelink.appendChild(imageholder);
		 
		 	var testpathname = document.createTextNode("Image location: static/uploads/" + gifdata[i]);
		 	description.appendChild(testpathname);
		 //	element.appendChild(description);
		 
		 
		 	var audioholder = document.createElement("audio");
		 	audioholder.setAttribute('id', "TheAudio"+i+"");
		 	audioholder.setAttribute('preload', "auto");
		 	audioholder.setAttribute('class', "audioholder");
		 	audioholder.setAttribute('src', 'static/uploads/'+audiodata[i])
		 	element.appendChild(audioholder);
		 	
		 	
			var theMagic = document.getElementById("TheGif"+i+"");
			
			theMagic.onmouseover = function(arg) {
			return function() {
			var audioboom = $("#TheAudio"+arg+"")[0];
			audioboom.play();			     }
			}(i);    
			
			
			theMagic.onmouseout = function(arg) {
			return function() {
			var audioboom = $("#TheAudio"+arg+"")[0];
			audioboom.pause();			     }
			}(i);   
			
			}
		 	</script>
 	
		 	
		 	
	
{% endblock %}